$color-red: #CC0000;
$color-green: #00FF00;
$color-blue: #0000FF;
$color-brown: brown;
$color-pink: #FFE0F5;
$color-black: #272129;
$color-gray: #666666;
$color-white: white;

$color-btn: #663333;
$color-card-header: #F2DEDE;
$width-135: 135px;

$font-size-20: 20px;
$font-size-13: 13px;

$color-background-all: #F2DEDE;
$color-table-background-all: #DEE2E6;
$color-background-industrial-waste: #99ff99;
$color-background-special-industrial-waste: #ff6666;
$color-background-construction-waste: #ccccff;
$color-background-valuable-waste: #ffcc99;
$color-background-municipal-waste: #ccffff;
$color-text-all: #B62A2A;
$color-text-industrial-waste: #269b26;
$color-text-special-industrial-waste: #e43232;
$color-text-construction-waste: #5353d8;
$color-text-valuable-waste: #f3a85d;
$color-text-municipal-waste: #55eeee;

$color-button-copy: #3165FF;

$height-card-header: 40px;
