@import "../../base/variable";


#emissionCard.card4 .card-header {
    padding: 5px 0px 5px 2px;
    background-color:$color-background-valuable-waste !important;
    color: black !important;
    border-color: #ccc !important;
}

#emissionCard.card4 {
    border: none;
}

#emissionCard.card4 .card-body .emissionInformation thead th {
    border-color: #ccc !important;
    color: black;
}

#emissionCard.card5 .card-header {
    padding: 5px 0px 5px 2px;
    background-color:$color-background-municipal-waste !important;
    color: black !important;
    border-color: #ccc !important;
}

#emissionCard.card5 {
    border: none;
}

#emissionCard.card5 .card-body .emissionInformation thead th {
    border-color: #ccc !important;
    color: black;
}