@import "../../base/variable";

.emissionWaste45 .card4 {
    background-color: $color-background-valuable-waste;
    color: black;
}

.emissionWaste45 .card5 {
    background-color: $color-background-municipal-waste;
    color: black;
}